<%= header_section(@subject) %>
<div>
  <p><%= @affiliate_name %> has removed themselves from your affiliate program. They will no longer be promoting your products or earning commissions from sales.</p>
  <p>You can always add new affiliates anytime from your Gumroad dashboard. If you have questions about this change, feel free to reach out to <%= @affiliate_name %> directly.</p>
  <p>Thanks for using Gumroad!</p>
</div>
